*{
    margin:0px;
    padding:0px;
}
#marquee{
    background-color: black;
    height: 35px;
    align-items: center;
    justify-content: center;
}
p{
    color:white;
    text-align: center;
    padding: 7px;
    font-size:small;
}
img{
    height: 20px;
    width: 115px;
    margin-left: 30px;
    display: inline;
}
#searchdiv{
    padding: 20px;
    box-shadow: 0px 3px #aaaaaa; 
    display: flex;
    align-items: center;
    height:80;
}
input{
    display: inline;
    height: 40px;
    width: 600px;
    margin-left: 30px;
}
form{
    border-color:  #FBFAFA;
    border-style: solid;
    border-width: 1px;
    margin-left:40px ;
    background-color: #FBFAFA;
}
form input{
    flex:1;
    border: none;
    outline: none;
    background-color:  #FBFAFA;
}
form .fa-magnifying-glass{
    color: grey;
    height: 14px;
    width: 14px;
    padding-left: 30px;
}
form .microphone{
    color: grey;
    height: 14px;
    width: 14px;
    padding-right: 30px;
}
.nav_icon{
    height: 22px;
    width: 22px;
    margin: 0px;
}
.navbar{
    margin-left:20px;
    display:inline-block;
    text-align: center;
}
.nav{
    margin-left: 20px;
}
.nav_words{
    color:black;
    font-family: sans-serif;
}
.category{
    display: inline-block;
    color: black;
    font-family: sans-serif;
    margin: 15px;
}
.div_category{
    text-align: center;
}
.location_icon{
    height: 20px;
    width: 20px;
    margin-top: 3px;
}
.div_location{
    display: flex;
    background-color: #FDFAF5;
}
.location_words{
    color: black;
    font-family: sans-serif;
    font-size: smaller;
}
.titanpage{
    width: 1340px;
    height: 370px;
    
    margin-left: 0px;
}
.div_down{
    display:flex;
    justify-content: center;
}
.content_words{
    font-family: sans-serif;
    color:black;
    font-size:large;
    margin-left: 20px;
}
.bar{
    height: 4px;
    background-color: #F8ECD9;
    margin-left:20px;
    border-radius: 10px;
}
.content{
    margin-top: 30px;
}
.titan-1{
    height:360px;
    width:640px;
}
.titan-2{
    height:360px;
    width:640px;
}
.titan-1-2{
    display:flex;
    justify-content: space-between;
    margin-top: 70px;
}
.titan-3{
    width:1100px;
    height:160px;
    margin-left: 140px;
    margin-top: 50px;
}
.dot-1{
    width:7px;
    height:7px;
    border-radius: 50%;
    border-color: #DDA243;
    border-style: solid;
    border-width: 1px;
}
.dot-2{
    width:7px;
    height:7px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #DDA243;
    border-color: #DDA243;
    border-style: solid;
    border-width: 1px;
}
.dot{
    display:flex;
    justify-content: center;
    margin-top: 10px;
}
